// ===============
// colors palette
// ===============
:root {
	// Site colors (Цвета сайта):
	// =================================================================
	--primary: #f08c00; // Site main color - (Основной цвет сайта)
	// --secondary:  #94d2bd;// Site secondary color - (Дополнительный цвет сайта)
	--accent: #8c8585; // Site accent color - (Например: кнопки действия, заголовки, ссылки)
	// --inverse: #ffff3f; // Site inverse color - (Например: для создания контраста между фоном и текстом)

	// Background colors (Фоновые цвета):
	// =================================================================
	--bg-primary: #e5e5e5; // BG primary background color - (Основной фоновый цвет сайта)
	// --bg-secondary: #7678ed; // BG secondary background color - (Дополнительный фоновый цвет сайта)
	// --bg-accent: #4cc9f0; // BG accent - например, может использоваться для установки цвета фона для акцентных элементов, таких как кнопки или иконки.
	// --bg-inverse: #2d00f7; // BG inverse - например, может использоваться для настройки цвета фона на светлом тексте.

	// Text colors (Текстовые цвета):
	// =================================================================
	--text-primary: #686161; // Text primary text color - (Основной текстовый цвет сайта)
	// --text-secondary: #080708; // Text secondary text color - (Дополнительный текстовый цвет сайта)
	--text-accent: #2E2A2A; // Text accent - например, может использоваться для настройки цвета текста для акцентных элементов на странице, таких как заголовки или кнопки.
	// --text-inverse: #e8eddf; // Text inverse - например, можно использовать для настройки цвета текста на темном фоне.
	// =================================================================
}
