//====================================================================================================
.page {
   // .page__features
   &__features {
   }
   // .page__koleksi
   &__koleksi {
   }
   // .page__catalog
   &__catalog {
   }
}
//========================================================================================================================================================
.features {
   @include adaptiveValue("padding-top", 120, 40);
   @include adaptiveValue("padding-bottom", 120, 40);
   // background: #ebf6e8;
   // .features__container
   &__container {
   }
   // .features__items
   &__items {
      max-width: rem(1200);
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      @include adaptiveValue("gap", 42, 20);
      @media (max-width: $tablet) {
         grid-template-columns: repeat(2, 1fr);
         padding: 0 rem(20);
      }
      @media (max-width: $mobile) {
         grid-template-columns: auto;
         padding: 0 rem(15);
      }
   }
   // .features__item
   &__item {
      display: flex;
      column-gap: rem(20);
   }
   // .features__icon
   &__icon {
      position: relative;
      top: rem(10);
      max-width: rem(40);
      width: 100%;
      height: rem(40);
      border-radius: 50%;
      background: var(--bg-accent-yellow);
      display: flex;
      align-items: center;
      justify-content: center;
      img {
         max-width: rem(24);
         height: rem(24);
         width: 100%;
      }
   }
   // .features__body
   &__body {
      align-items: start;
   }
   // .features__title
   &__title {
      max-width: rem(233);
      font-weight: 600;
      font-size: rem(20);
      line-height: 150%; /* 30/20 */
      color: var(--text-accent);
      &:not(:last-child) {
         margin-bottom: rem(16);
      }
   }
   // .features__text
   &__text {
      font-size: rem(16);
      line-height: 150%; /* 24/16 */
      color: var(--text-primary);
   }
}

//========================================================================================================================================================
.koleksi {
   @media (min-width: $mobile) {
      display: flex;
   }
   overflow: hidden;
   // .koleksi__contant
   &__contant {
      flex: 0 0 100%;
      display: flex;
   }
   // .koleksi__container
   &__container {
      max-width: rem(1260);
      padding: 0 rem(20);
      margin: 0 auto;
      background-color: #b0aeae;
   }
   // .koleksi__body
   &__body {
      padding: rem(30) rem(20) rem(238) rem(10); // может быть убрать
      @media (min-width: $mobile) {
         width: 40%;
         padding: rem(0) rem(20) rem(50) rem(0); // может быть убрать
      }
      // padding: 0 0 rem(238) 0;
   }
   // .koleksi__title
   &__title {
      font-weight: 700;
      font-size: rem(36);
      line-height: 133.333333%; /* 48/36 */
      color: var(--text-accent);
      &:not(:last-child) {
         margin-bottom: rem(48);
      }
   }
   // .koleksi__subtitle
   &__subtitle {
      font-weight: 500;
      font-size: rem(20);
      line-height: 135%; /* 27/20 */
      color: var(--text-accent);
      &:not(:last-child) {
         margin-bottom: rem(8);
      }
   }
   // .koleksi__text
   &__text {
      font-size: rem(16);
      line-height: 175%; /* 28/16 */
      color: var(--text-primary);
      &:not(:last-child) {
         margin-bottom: rem(16);
      }
   }
   // .koleksi__price
   &__price {
      font-weight: 700;
      font-size: rem(30);
      line-height: 136.666667%; /* 41/30 */
      color: var(--bg-accent-yellow);
   }
   // .koleksi__image
   &__image {
      position: relative;
      img {
         max-width: 100%;
      }
      @media (min-width: $mobile) {
         flex: 0 0 60%;
         flex: 0 0 calc(((100vw - 40px) * 0.6) + 20px);
         padding: 0 0 40.7% 0;
         transform: translate(-100%, 0);
         img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
         }
      }
      @media (min-width:rem(1260)){
         // flex: 0 0 calc(100vw - (((100vw - 1260px) / 2) + ((1260px - 40px) * 0.4) + 20px));
         flex: 0 0 calc(50vw - (0.4 - 0.5) * 1220px);
      }
   }
}

//====================================================================================================
.catalog {
   @include adaptiveValue("padding-top", 60, 30);
   @include adaptiveValue("padding-bottom", 60, 30);
   // .catalog__container
   &__container {
      text-align: center;
   }
   // .catalog__title
   &__title {
      font-weight: 700;
      font-size: rem(36);
      line-height: 133.333333%; /* 48/36 */
      color: var(--text-accent);
      &:not(:last-child) {
         margin-bottom: rem(16);
      }
   }
   // .catalog__tabs
   &__tabs {
   }
}

.tabs {
   // .tabs__navigation
   &__navigation {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      // column-gap: rem(40);
      @include adaptiveValue("column-gap", 40, 25);
      row-gap: rem(30);
      &:not(:last-child) {
         // margin-bottom: rem(64);
         @include adaptiveValue("margin-bottom", 64, 40);
      }
   }
   // .tabs__title
   &__title {
      position: relative;
      font-size: rem(16);
      line-height: 22/16; /* 48/36 */
      color: var(--accent);
      &._tab-active {
         font-weight: 500;
         color: var(--text-accent);
         &::after {
            content: "";
            position: absolute;
            width: rem(6);
            height: rem(6);
            border-radius: 50%;
            background: var(--primary);
            bottom: rem(-12);
            left: 50%;
         }
      }
      &_button {
         font-weight: 500;
         text-decoration-line: underline;
         color: #5f5d5d;
         background: #ededed;
         border-radius: rem(4);
         padding: rem(12) rem(16);
         transition: all 0.3s;
         &:hover {
            background: #c5c3c3;
         }
      }
   }
   // .tabs__content
   &__content {
      &:not(:last-child) {
         margin-bottom: rem(48);
      }
   }
   // .tabs__body
   &__body {
   }
   // .tabs__items
   &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      // gap: rem(40);
      @include adaptiveValue("gap", 40, 25);
      @media (max-width: $tablet) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: rem(600)) {
         grid-template-columns: auto;
         // grid-template-columns: repeat(1, 1fr);
      }
   }
   // .tabs__item
   &__item {
   }
}
/* ++++++++++++++++++++++++++++++++++++++++ */

.item-tabs {
   position: relative;
   // .item-tabs__card
   &__card {
      // background: #678a67;
      background: #fbfbfb;
      border-radius: 8px;
      padding-top: rem(64);
      padding-bottom: rem(64);
      &:not(:last-child) {
         margin-bottom: rem(16);
      }
   }
   // .item-tabs__options
   &__options {
      position: absolute;
      left: rem(24);
      z-index: 2;
      top: rem(24);
      display: flex;
      flex-wrap: wrap;
      gap: rem(6);
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
   }
   // .item-tabs__option
   &__option {
      font-weight: 600;
      line-height: 137.5%; /* 22/16 */
      border-radius: 4px;
      color: #fff;
      padding: rem(8) rem(12);
      align-items: center;
      background: #59b162;
      &_red {
         background: #e34848;
      }
   }
   // .item-tabs__image
   &__image {
      width: 100%;
      height: 100%;
      img {
         max-width: rem(196);
         max-height: rem(196);
         object-fit: cover;
      }
   }
   // .item-tabs__colors
   &__colors {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: rem(15);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      top: rem(282);
   }
   // .item-tabs__color
   &__color {
      display: inline-block;
      position: relative;
      width: rem(18);
      height: rem(18);
      border-radius: 50%;
      &._active {
         width: rem(24);
         height: rem(24);
         border-radius: 50%;
         border: 3px solid var(--bg-accent-circle);
         &::after {
            content: "";
            position: absolute;
            display: flex;
            background: url("@img/catalog/check-line-black.png") 0 0 no-repeat;
            width: 100%;
            height: 100%;
         }
      }
      // .item-tabs__color_beige
      &_beige {
         background: var(--bg-accent-beige);
      }
      // .item-tabs__color_yellow
      &_yellow {
         background: var(--bg-accent-yellow);
      }
      // .item-tabs__color_grey
      &_grey {
         background: var(--bg-accent-grey);
      }
      // .item-tabs__color_black
      &_black {
         background: var(--bg-accent-black);
         &._active {
            &::after {
               background: url("@img/catalog/check-line-white.png") 0 0 no-repeat;
            }
         }
      }
   }

   // .item-tabs__info
   &__info {
   }
   // .item-tabs__name
   &__name {
      line-height: 137.5%; /* 22/16 */
      color: var(--text-primary);
      text-align: left;
      &:not(:last-child) {
         margin-bottom: rem(4);
      }
   }
   // .item-tabs__prices
   &__prices {
      display: flex;
      column-gap: rem(10);
      align-items: center;
   }
   // .item-tabs__price
   &__price {
      font-weight: 600;
      font-size: rem(20);
      line-height: 135%; /* 27/20 */
      letter-spacing: 0.01em;
      color: var(--text-accent);
   }
   // .item-tabs__price-old
   &__price-old {
      font-weight: 500;
      font-size: rem(16);
      line-height: 137.5%; /* 22/16 */
      letter-spacing: 0.01em;
      text-decoration-line: line-through;
      color: var(--accent);
   }
}

//========================================================================================================================================================
